@media (max-width: 716px) {
    .logo {
        margin-left: 40px;
    }

    .banner {
        width: 95%;
    }
}

@media (max-width: 425px) {
    .banner {
        width: 90%;
        height: 100%;
        margin-top: 20px;
    }

    h1 {
        font-size: 30px;
    }

    .p-pagina {
        height: 70px;
    }
}