@font-face {
    font-family: 'Engravers';
    src: url('../fonts/engraversgothicbt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Copper';
    src: url('../fonts/Copperplate\ Gothic\ Bold\ Regular.ttf') format('truetype');
}