@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.cdnfonts.com/css/martian-mono');

body {
    background-color: #580e1b;
}

.container {
    max-width: 1080px;
    margin: auto;
    background-image: url(../img/background/background-page.png);
    background-repeat: no-repeat;
    background-size: 1080px;
    height: 100vh;
}

.flower {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-f {
    max-width: 80%;
    padding: 80px 0 30px;
}

.bottom-f {
    max-width: 80%;
    padding-top: 30px;
}

.entry {
    font-family: "kapakana", sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 550;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 30px 0;
}

.nav-bar ul li {
    margin: 0 20px;
}

.nav-bar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Martian Mono', sans-serif;
    color: #580e1b;
    font-size: 18px;
    padding: 10px 0;
    border: #580e1b 1px solid;
    border-radius: 7px;
    width: 200px;
    height: 70px;
    text-align: center;
}

.nav-bar ul li a:hover {
    background-color: #580e1b;
    color: #fff;
    transition: all .3s ease-in;
    border-radius: 7px;
}

.cerimony {
    height: 100vh;
}

.titles {
    font-family: "kapakana", sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 500;
    padding: 20px 0 10px;
}

.cerimony p {
    font-size: 20px;
    text-align: center;
    font-family: 'Martian Mono', sans-serif;
}

.separation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    margin-top: 30px;
}

.separation-bar img {
    height: 30px;
}

.separation-bar hr {
    width: 35%;
    height: 2px;
    background-color: #580e1b;
    border: none;
}

.cerimony ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cerimony ul li {
    margin: 0 20px;
}

.cerimony ul li a {
    font-size: 20px;
    border: 1px solid #580e1b;
    border-radius: 7px;
    color: #580e1b;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Martian Mono', sans-serif;
}

.cerimony ul li a:hover {
    background-color: #580e1b;
    color: #fff;
    transition: all .3s ease-in;
}

.bottom-flower {
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-top-flower {
    max-width: 80%;
    padding: 80px 0 30px;
}

.b-bottom-flower {
    max-width: 80%;
    padding-top: 30px;
}

.location {
    padding-top: 90px;
}

.location h2 {
    font-family: "kapakana", sans-serif;
    font-weight: lighter;
    font-size: 80px;
    text-align: center;
    margin-bottom: 20px;

}

.location p {
    font-family: "Martian Mono", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}