@import url(./fonts.css);

body {
    background-color: #580e1b;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.fundo {
    background-image: url(../img/background/background-page.png);
    background-size: cover;
    height: 100vh;
    gap: 40px;
}

.logo {
    display: flex;
}

.banner {
    height: 180px;
    width: 80%;
    margin: 40px auto 60px;
}

.couple-image img{
    width: 1080px;
    height: 500px;
}

a {
    display: flex;
    justify-content: center;
    margin: 20px auto; 
    width: 60px;
    border-radius: 15px;
}

.p-pagina {
    height: 62px;
    color: #580e1b;
    border: solid #580e1b 1px;  
    border-radius: 15px; 
}