@import url(./fonts.css);

body {
    background-color: #580e1b;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.fundo {
    background-image: url(../img/background/fundo-cabecalho.jpeg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.banner {
    height: 180px;
}

.couple-image img{
    width: 1080px;
}

a {
    display: block;
    margin: 0 auto;
}

.p-pagina {
    height: 62px;
    color: #580e1b;
    border: solid #580e1b 1px;  
    border-radius: 15px; 
}