@media (max-width: 1024px) {
    .couple-image img {
        height: 100%;
        max-width: 100%;
    }
}

@media (max-width: 650px) {
    .p-pagina {
        margin: 35px;
    }
}

@media (max-width: 430px) {
    .banner {
        height: 80px;
        margin-top: 70px;
    }

    .couple-image img {
        margin: 30px 0;
    }
}

